/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap'); */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424; 
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}

.appdiv {
  width: 100vw;
}

 a {
  color: whitesmoke;
  /* text-decoration: underline; */
}


a:hover {
  color: #edadfb;
} 

/* a:visited {
  color: yellow;
} */

.linkedIcon:hover {
  height: 2.2em;
}

.instaIcon:hover {
  height: 2.2em;
}

.gitIcon:hover {
  height: 2.2em;
}


li {
  list-style-type: none;
}



h1 {
  font-size: 4em;
  line-height: 1.1;
  background: -webkit-linear-gradient(whitesmoke, rgb(142, 208, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  text-align: center;
  /* text-shadow: 6px 6px 5px #f6f2f2; */
}


p {
  color: whitesmoke;
}




/* .portfolioLink{
  
} */

.dropDownul {
  /* display: none; */
  /* display: flex;
  flex-direction: column;  */
  position: absolute;
  /* left: 26em; */
  top: 3.5em;
  background-image: linear-gradient(#4895a1, #242424);
  border-radius: 10px;
  /* background-color: #242424; */
  width: 3em;
}

.dropDownul.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropDownul.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); /* was -20px */
  transition: var(--speed) ease;
}

/* .portfolioLink:hover .dropDownul {
  display: block;
} */

.dropDownli {
display: block;
text-align: right;
}



/* BURGER ICON BARS  */
.burger {
  width: 2rem;
  height: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 10px;
  background-color: whitesmoke;
  transform-origin: 1px;
  transition: all 0.2s linear;
}

.drop {
  font-size:1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

}




/* BREAK POINT */

  @media screen and (max-width: 767px) {

    .linkedIcon:hover {
      height: 3em;
    }
    
    .instaIcon:hover {
      height: 3em;
    }
    
    .gitIcon:hover {
      height: 3em;
    }
    
    .dropDownul {
      /* display: none; */
      background-image: linear-gradient(#263E43, #388d98);
      width: 75%;
      /* display: flex;
      flex-direction: column;
      align-items: center; */
      margin-top: 8em;
      /* margin-right: 4em; */
      padding: 1em;
    }


   .navbar .hamburger {
    display: flex; /* was block */
    cursor: pointer;
   }

   .navbar .navul  {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(#242424, #27dff7);
    margin-top: 4.5em;
    /* border-radius: 8px; */
    padding: 20px;
    width: 50%;
    transform: translateX(450px);
    transition: 0.5s ease-in-out; 
}


    

    /* border-bottom: 1px solid whitesmoke; */
   

   .navbar .navul .dropDownli {
    /* border-bottom: 1px solid whitesmoke; */
    /* border-radius: 0; */
    padding-bottom: 1em ;
    margin: 1em 1em 0em 0em;
    /* margin-bottom: 1em; */
   }

   /* .navbar .navul .dropDownli:last-of-type {
    border-bottom: 0px solid whitesmoke;
   } */
   
  
}

