/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap'); */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424; 
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}

.appdiv {
  width: 100vw;
}

 a {
  color: whitesmoke;
  text-decoration: none;
}


a:hover {
  color: #edadfb;
} 

.linkedIcon:hover {
  height: 2.2em;
}

.instaIcon:hover {
  height: 2.2em;
}

.gitIcon:hover {
  height: 2.2em;
}


li {
  list-style-type: none;
}



h1 {
  font-size: 4em;
  line-height: 1.1;
  background: -webkit-linear-gradient(whitesmoke, rgb(142, 208, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  text-align: center;
}


p {
  color: whitesmoke;
}

/* DROP DOWN MOVED TO STYLED COMPONENTS */


/* .dropDownul.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
} */

.dropDownul.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); 
  transition: var(--speed) ease;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

}




/* BREAK POINT */

  @media screen and (max-width: 767px) {

    .linkedIcon:hover {
      height: 3em;
    }
    
    .instaIcon:hover {
      height: 3em;
    }
    
    .gitIcon:hover {
      height: 3em;
    }
    
    

   .navbar .navul  {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(#242424, #27dff7);
    margin-top: 4.5em;
    padding: 20px;
    width: 50%;
    transform: translateX(450px);
    transition: 0.5s ease-in-out; 
}


   .navbar .navul .dropDownli {
    padding-bottom: 1em ;
    margin: 1em 1em 0em 0em;
   }

}

